$tooltip-bg: #046056;
$tooltip-max-width: 250px;

/* The following line can be included in a src/App.scss */
@import '~bootstrap/scss/bootstrap';
.image {
	width: 100%;
}
.logo {
	width: 65%;
}

.navigation {
	background-color: #046056;
}
.login-container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	position: relative;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.login-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}

.login-card {
	width: 90%;
	max-width: 400px;
	padding: 20px;
	background: rgba(255, 255, 255, 0.8);
	backdrop-filter: blur(10px);
	border-radius: 10px;
}

@media (max-width: 768px) {
	.login-card {
		width: 95%;
	}
}
.btn-custom-outline {
	background-color: transparent;
	border: 2px solid #046056;
	color: #046056 !important ;
	transition: all 0.2s ease-in-out;
}

.btn-custom-outline:hover {
	background-color: #046056;
	color: white !important;
}
.footer-container {
	background-color: #b0d3c7;
	padding: 40px 10%;
	color: #3d3d3d;
}

.footer-content {
	display: flex;
	justify-content: space-between;
}

.footer-left,
.footer-right {
	width: 45%;
}

.footer-title {
	font-size: 24px;
	font-weight: bold;
	color: #b59c5b;
}

.footer-text {
	font-size: 16px;
	margin-bottom: 20px;
}

.footer-button {
	background-color: #004d40;
	color: white;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
}

.footer-subtitle {
	font-size: 20px;
	font-weight: bold;
	color: #b59c5b;
	margin-top: 20px;
}

.footer-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.footer-list li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
	border-bottom: 1px solid #ddd; /* Đường kẻ mờ */
}

.location-name {
	font-weight: bold;
	color: #222; /* Màu chữ chính */
}

.location-time {
	color: #888; /* Màu xám nhạt */
}

.footer-contact-title {
	font-size: 20px;
	font-weight: bold;
	color: #b59c5b;
}


.footer-social-icons {
	display: flex;
	gap: 15px; /* Khoảng cách giữa các icon */
}

.social-icon {
	font-size: 30px; /* Đặt kích thước icon */
	color: black; /* Màu icon */
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px; /* Đảm bảo icon nằm trong khung vuông */
	height: 40px;
}

#pagination {
	.pagination {
		gap: 5px; // Khoảng cách giữa các nút
	}

	.page-item {
		transition: all 0.3s ease-in-out; // Hiệu ứng mượt khi hover
		overflow: hidden;

		.page-link {
			padding: 8px 14px;
			color: #046056; // Màu chủ đạo
			border: none;
			background-color: white;
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); // Đổ bóng nhẹ

			&:hover {
				background-color: #046056;
				color: white;
			}
		}

		&.active .page-link {
			background-color: #046056 !important;
			color: white !important;
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
		}

		&.disabled .page-link {
			background-color: #ccc;
			color: white;
			cursor: not-allowed;
		}
	}
}
